<div class="property_info-<%= property_info.id %>">
  <span>Name : <%= property_info.name %></span><br>
  <span>Comments : <%= property_info.comments %></span><br>
  <span>Details : <%= property_info.details.to_s %></span>
</div>
