<div class="property_info-<%= property_info[:id] %>">
  <div class="botton_margin col-md-12 tweet-div pull-padding <% if property_info[:related_to_property] %> related_to_property <% end %>" <% if property_info[:rating].present? && property_info[:rating] < 2 %> style="background-color: #f5f5f5;color:#333"<% else %>style="background-color: rgb(254, 254, 254); opacity: 0.55;" <% end %>>
	  <div class="col-md-2">
	  	<img src="<%= property_info[:user].profile_image_url_https %>">
	  </div>
	  <div class="col-md-9 tweet-text">
      <span class="pull-right"><% if property_info[:rating].present? && property_info[:rating] < 2 %><i class="fa fa-check" style="color:#ccc"></i><% else %><i class="fa fa-exclamation"></i><% end %></span>
	  	<%= property_info[:text] %>
    </div>
	</div>
</div>
