<div class="property_info-<%= property_info[:id] %>">
	<div class="col-md-12 tweet-div pull-padding">
	  <div class="col-md-2">
	  	<img src="<%= property_info[:user].profile_image_url_https %>">
	  </div>
	  <div class="col-md-9 tweet-text">
	  	<%= property_info[:text] %>
    </div>
    <div class="col-md-1">
     5
    </div>
	</div>
</div>
