// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pull-padding{
	padding: 0px !important;
}

.tweet-div {
    border-bottom: 1px solid #DDDDDD;
    margin: 0;
    padding: 15px 0 !important;
}

.tweet-text {
    color: #666666;
    font-size: 12px;
}