<!DOCTYPE html>
<html>
<head>
  <title>LookNow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
	  <div class="container-fluid" style="background:#191919;">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#" style="font-size: 22px; font-weight: normal; color: #f5f5f5" href="#">
	        <img src="/assets/looknow.png" height="24" style="transform: rotate(180deg); margin-top: -5px;"> LookNow
	      </a>
	    </div>
	  </div>
	</nav>
	<div class="main-container" style="margin-top:-20px;">
		<%= yield %>
	</div>
</body>
</html>