<!DOCTYPE html>
<html>
<head>
  <title>LookNow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#" style="color:#2C0073;font-size:24px;font-weight:900">
	        <img src="/assets/looknow.png" height="24"> LookNow
	      </a>
	    </div>
	  </div>
	</nav>
	<div class="main-container" style="margin-top:-20px;">
		<%= yield %>
	</div>
</body>
</html>